#main {
	background: url(/common/img/main.jpg) no-repeat top  center;
	background-attachment: fixed;
	padding: 68% 0 0 0;
	background-size: contain;
}

header nav ul {
   text-align: center;
   background:#333;
}
header nav ul li {
    display:  inline-block;
    width: 20%;
}
header nav ul li a{
    display:  block;
    padding:10px;
    text-decoration:none;
    color:#fff;
}

div#about {
    text-align: center;
    padding: 30% 5%;
    background: #454;
}

div h2 {
	font-size:24px;
	margin:0 0 20px;
	text-align: center;
}
div h3 {
	font-size:20px;
	margin:0 0 10px;
}
div p {
	line-height:1.5em;
}