header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(19, 124, 179, 0.77);
}

#main {
	background: url(/common/img/main.jpg) no-repeat top  center;
	background-attachment: fixed;
	padding: 20% 0 46%;
	background-size: cover;
	text-align: center;
	font-family: 'Poiret One', cursive;
	color:#fff;
	text-shadow:3px 3px #666;
	letter-spacing:0.08em;
}
#main h1 {
	font-size:36px;
}
header nav ul {
   text-align: justify;
   height: 46px;
   max-width: 950px;
   margin: 0 auto;
   letter-spacing: -0.8em;
}
header nav ul:after {
	display:inline-block;
	width:100%;
	height:0;
	content:"";
}
header nav ul li {
    display:  inline-block;
    width: 20%;
    letter-spacing: 0em;
}
header nav ul li a{
    display:  block;
    padding: 15px;
    width: 100%;
    text-decoration:none;
    color:#fff;
}

div#about {
    text-align: center;
    height: 400px;
    padding: 200px 0 100px 0;
    background: url(/common/img/sand.jpg) no-repeat top center rgb(0, 0, 0);
    background-attachment: fixed;
    color: #fff;
    background-size: cover;
    text-shadow: 2px 1px #5b5b5b;
    	font-family: 'Poiret One', cursive;

}
div#member {
    text-align: center;
    height: 400px;
    padding: 200px 0 100px 0;
    background: url(/common/img/member.jpg) no-repeat top center rgb(0, 0, 0);
    background-attachment: fixed;
    color: #fff;
    background-size: cover;
    text-shadow: 2px 1px #5b5b5b;
    	font-family: 'Poiret One', cursive;

}
div#member ul li{
	display:inline-block;
	width:20%;
	text-align:center;
	line-height:1.5em;
	font-size:20px;
}
div#member sub {
	display:block;
}
div h2 {
	font-size: 72px;
	margin: 0 0 30px;
	text-align: center;
	font-weight: bold;
}
div h3 {
	font-size: 36px;
	margin: 0 0 60px;
}
div p {
	line-height:1.5em;
}
div#gall-3 {
    padding: 50% 0 0;
    background: url(/common/img/sorekara-3.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div#place {
		font-family: 'Poiret One', cursive;

    padding: 0;
    
    background-attachment: fixed;
    background-size: cover;
}
div#place-wrap {
	padding: 260px 0 180px;
	background: url(/common/img/sorekara.jpg) no-repeat 60% bottom;
	background-size: cover;
	margin: 0;
	text-shadow: 1px 1px #fff;
	text-align: center;
}
footer {
    text-align: left;
    line-height: 2em;
    padding: 200px 100px 200px;
    background:#333;
    color:#fff;
    background: url(/common/img/sorekara-3.jpg) center left #333;
    background-attachment: fixed;
    background-size: cover;
}
footer dl {
	max-width:800px;
	margin:0 auto;
}
footer dt{
	width:20%;
	vertical-align:top;
	display:inline-block;
}
footer dd{
	width:79%;
	display:inline-block;
}
.sp{
	display:none;
}
@media screen and (max-width:767px) {
	#main {
	background: url(/common/img/main.jpg) no-repeat top left;
	background-attachment: fixed;
	padding: 30% 0 36%;
	background-size: 220% auto;
	text-align: center;
	font-family: 'Poiret One', cursive;
	color:#fff;
	text-shadow:3px 3px #666;
	letter-spacing:0.08em;
}
	#main h1 {
	font-size:24px;
}
header nav ul {
   text-align: justify;
   height: 46px;
   max-width: 950px;
   width:90%;
   margin: 0 auto;
   letter-spacing: -0.8em;
}
header nav ul li {
    display:  inline-block;
    /* width: 25%; */
    font-size:14px;
    text-align: left;
}
header nav ul li a{
    display:  block;
    padding: 15px 0;
}
div h2 {
	font-size: 42px;
	margin: 0 0 30px;
	text-align: center;
	font-weight: bold;
}
div h3 {
	font-size: 20px;
	margin: 0 5% 60px;
}
div p {
	line-height:1.5em;
	margin:0 5%;
}
footer {
    text-align: left;
    line-height: 2em;
    padding:5%;
    background:#333;
    color:#fff;
    background: url(/common/img/sorekara-3.jpg) no-repeat top;
    /* background-size: 200% auto; */
}
footer dt{
	width:100%;
	vertical-align:top;
	display:inline-block;
}
footer dd{
	width:100%;
	display:inline-block;
}
.sp {
	display:block;
}

}